
<EditForm Model="@serial" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <fieldset disabled="@Disabled">
        <div class="form-group">
            <label>Serial Number: </label>
            <div>
                <InputText @bind-Value="@serial.ItemSerial" class="form-control" />
                <ValidationMessage For="@(() => serial.ItemSerial)" />
            </div>
        </div>
    </fieldset>

    @if (!Disabled)
    {
        <button type="submit" class="btn btn-success btn-block">
            @ButtonText
        </button>
    }
    <a class="btn btn-outline-dark btn-block" href="/serial/">
        <span class="oi oi-arrow-left"></span>
        Back To List
    </a>
    
</EditForm>

@code {
    [Parameter] public bool Disabled { get; set; } = false;
    [Parameter] public Serial serial { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}
